<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <div class="admin-container">
        <h1>Welcome to the Admin Dashboard</h1>
        <p>Here you can manage various features.</p>

        <!-- Upload Button to go to watermarking page -->
        <button id="uploadBtn">Upload Image</button>

        <button id="logoutBtn">Logout</button>
    </div>

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>

